.container {
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

h2 {
    border-bottom: 1px solid #aaa;
    padding-bottom: 30px;
}

h3 {

    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
}

.parentcontainer {
    display: flex;

    /* 设置子元素分布情况 */
    /* 居中分布 */
    /* justify-content: center; */
    /* space-around：平均分布（左右有间隔） */
    justify-content: space-around;
    /* space-between：平均分布（左右无间隔） */
    /* justify-content: space-between; */
}

/* 两列网格 */
.two-column {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #aaa;
    width: 40%;

}

.parentcontainer1 {
    display: flex;
    /* space-between：平均分布（左右无间隔） */
    justify-content: space-between;
}


.column {
    /* 使用 box-sizing: 合并 padding, 并使用 width 可以很好的空出间距; */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #aaa;
    width: 33%;
}

input{
    padding: 5px;
    /* text-align: center; */
}