
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>数据绑定</title>
</head>

<body>

    <div id="app">
        <h2 @click="up">{{title+"nihao"}}</h2>
        <h3 v-if="issubtitle">子标题</h3>
        <h4 v-text="subtitle"></h4>

        <img :src="imgurl" >

        <ol>
            <!-- <li v-for="item in numbers">{{item}}</li> -->
            <!-- <li v-for="item in 10">{{item}}</li> -->
        </ol>

        <form action="">
            <label for="name">名字</label>
            <input type="text" name="name" v-model="form.name">
            <label for="">性别</label>
            <input type="radio" v-model="form.sex" value="男"> 男

        </form>

    </div>

    <script>
        let v = new Vue({
            el: '#app',
            data: {
                title: "你好",
                subtitle: "bububu",
                issubtitle: false,
                form: {
                    name: "名歌",
                    sex: "男"
                }, numbers: [1, 7, 9, 8],
                imgurl: "1.png"

            }, methods: {
                up: function () {
                    alert("click me");
                }
            }

        });
    </script>
</body>

</html>